MONGODB_URI="mongodb+srv://<db_username>:<db_password>@cluster0.03ljk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# replace <db_username> and <db_password> with your MongoDB Atlas username and password, make sure to remove the <>
